.bookSearch {
    background: grey;
    height: 35px;
    font-size: 20px;
    margin: auto;
    padding-top: 10px;
}

button {
    width: 55px;
    height: 20px;
    font-size: 13px;
}

.eBook {
    height: 35px;
    padding-top: 10px;
    display: inline-block;
    padding-right: 20px;
}

.filterSection {
    background: lightgray;
    text-align: center;
}

#bookType {
    width: 200px;
}

.bookList {
    background: white;
    list-style: none;
    padding-top: 20px;
}

.bookItem p {
    text-align: left;
    height: 200px;
    border-bottom: 1px lightgray solid;
}

.bookItem h4 h3 {
    text-align: center;
}

.bookItem img {
    float: left;
    margin-top: 20px;
    padding-right: 30px;
}

